html,body{
    padding: 0;
    margin: 0;
    width: 100%;
}
nav{
    width: 100%;
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
}
.nav-left, .nav-middle, .nav-right{
    display: flex;
    align-items: center;
}
.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;
}
.nav-left .logo{
    width: 130px;
}
.nav-middle{
    flex: 1;
    justify-content: center;
}
.nav-middle .search-box{
    border: 1px solid #ccc ;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    width:150px;
}
.nav-middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav-middle .search-box img{
    width: 15px;
}
.nav-right img{
    width: 25px;
    margin-right: 25px;
}
.nav-right .user_icon{
width: 35px;
border-radius: 50%;
}
@media (max-width:900px){
    .menu_icon{
        display:none;
    }
    
    .nav-right .user-icon{
        display:block;
        width:30px;
    }
    .nav-right img{
        display:none;
    }
    .logo{
        width:70px;
    }
    .nav-middle.search-box input{
        width:100px;
    }
}
